@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.none {
    display: none;
}

.mainDiv {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
 

}

.popupContainer {
    width: 100%;
    height: 80%;
    margin: auto;
    background: #1b242f;
    color: white;
  
    
}

.imagesContainer {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionContainer {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerSection {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title {
    margin: 0;
    width: 95%;
    text-align: center;
}
.close {
    width: 5%;
    height: 20px;
    border: 1px solid black;
    color: white;
    border-radius: 50%;
    text-align: center;
    
}

.imageSection {
width: 100%;
height: 95%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: relative;
}

.leftArrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 15%;
    height: 100%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: black;
    
}
.rightArrow {
    color: black;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    width: 15%;
    height: 100%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.rightArrow:hover, .leftArrow:hover {
    cursor: pointer;
    background: rgba(0,0,0, 0.4);
} 
.image {
    width: 100%;
    height: 100%;
    background:url('../sampleGif.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    z-index: 2;
}
.buttons {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons > * {
    color: white;
    background: #1b242f;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.6);
    box-shadow: 2px 2px 1px 0px rgba(255,255,255,1);
}
.buttons > *:hover{
    background: #04c2c9;
    color: #8f9aa7;
}
.description {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.description > p {
    
    text-align: center;
}
.likesSection {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width:600px) {
        .popupContainer {
            width: 50%;
            border: 1px solid rgba(255,255,255,0.6);
            box-shadow: 2px 2px 1px 0px rgba(255,255,255,1);
        }
        .buttons > * {
            padding: 10px;
            margin: auto;
            cursor: pointer;
        }
}