.mainDiv {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid  rgba(30,255,0,1);
    box-shadow: 0px 0px 10px 2px rgba(30,255,0,1);
}

.author {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

.home {
width: 30%;
height: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
margin-right: 20px;

}
.home > * {
    text-decoration: none;
    color: white;
}

.author > img {
    transform: translate(0, 10px);
    width: 70px;
    border-radius: 50%;
    border: 2px solid  rgba(30,255,0,1);
    box-shadow: 0px 0px 10px 2px rgba(30,255,0,1);
}

.author > span {
    color: white;
    margin-left: 10px;
}

.title { 
    text-align: center;
    padding: 40px 0;
    font-size: 40px;
    font-weight: bolder;
}

.imageSection {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    }
    
.leftArrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 15%;
    height: 100%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: black;
    
}
.rightArrow {
    color: black;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    width: 15%;
    height: 100%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.rightArrow:hover, .leftArrow:hover {
    cursor: pointer;
    background: rgba(0,0,0, 0.4);
} 
.image {
    width: 100%;
    height: 100%;
    background:url('../sampleGif.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    z-index: 2;
}
.buttons {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons > * {
    color: white;
    background: #1b242f;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.6);
    box-shadow: 2px 2px 1px 0px rgba(255,255,255,1);
}
.buttons > *:hover{
    background: #04c2c9;
    color: #8f9aa7;
}
.descriptionContainer {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.description > p {
    
    text-align: center;
}
.likesSection {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.commentData{
    display: flex;
    flex-direction: column;
}


@media (min-width: 600px) {
    .imageSection {
        width: 60%;
    }
}